.titol {
    padding: 10px 20px 0 20px;
}
.container1 {
     display: flex;
     justify-content: space-between;
     padding: 20px;
 }
.container {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}
.container2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
h0 {
    padding-top: 20px;
    font-family:arial;
    font-size: 40px;
    color:#b2473e;
}
h1 {
    padding-top: 15px;
    padding-bottom: 0px;
    font-family:arial;
    font-size: 20px;
    color:#211f30;
}
h2 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family:arial;
    font-size: 20px;
    color:#d4dde1;
}
h3 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family:arial;
    font-size: 15px;
    color:#030b0f;
}
p1 {
    font-family:arial;
    font-size: 14px;
    padding: 0;
}
p {
    font-family:arial;
    font-size: 14px;
    padding: 0;
    color:#d4dde1;
}
light {
    color:#d4dde1;
    text-decoration: none;
}
dark {
    color: #32384d;
}
p2 {
    font-family:arial;
    color:#d4dde1;
    font-size: 12px;
    padding: 0;
}
.item1{
    flex-grow: 2;
    order: 1;
    background-color: #e5e5e5;
    /*#e2e8e4*/
    border-radius: 4px;
    padding: 10px 40px 20px 40px;
}
.item2 {
    flex-grow: 4;
    order: 2;
}
.item3 {
    flex-grow: 1;
    order: 3;
    background-color: #32384d;
    padding: 10px;
    width: 220px;
    height: 160px;
    border-radius: 4px;
}
.item4 {
    flex-grow: 1;
    order: 99;
    padding-top: 500px;
}
.info {
    text-align: center;
}
.barris {
    stroke: #fff;
    stroke-width:2px;
}
.barris:hover {
    fill: #b2473e;
    /*stroke: #3a3a3a;*/
    /*stroke-width:4px;*/
}
.pintats:hover {
    fill: #e5e5e5;
}
.button {
    background-color: #32384d;
    stroke: #fff;
    stroke-width: 4px;
    border-radius: 6px;
    border-width: 0ch;
    padding: 8px;
    flex-grow: 1;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
}
.button:hover {
    background-color: #b2473e
    /*#e29930*/
}
.buttonVermell {
    background-color: #600902;
    stroke: #fff;
    stroke-width: 4px;
    border-radius: 6px;
    padding: 5px 35px 5px 35px;
    flex-grow:1;
}
.selected {
    background-color: #600902;
}
.circle {
    border-radius:40px;
    height: 40px;
    width: 40px;
    background-color:  #600902;
    padding: 10px;
    color:  #e5e5e5;
    font-family: arial;
    /*order: 99;*/
    /*text-align: center;*/
    font-size: 30px;
}
.a {
    color: #600902;
}
.centered{
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

 /* Style the button that is used to open and close the collapsible content */
 .collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  } 

 
img {
    transition:transform 0.25s ease;
}

img:hover {
    -webkit-transform:scale(2); /* or some other value */
    transform:scale(2);
}